{% extends 'html/base.html' %}
{% block title %} Home {% endblock %}{% load static %}
{% block content %}
<h1 style="font-family: cursive;margin-bottom: 150px;"><center>choose your Transport type</center></h1>
<div class="row">
	<div class="column" style="margin-left: 400px;">
		<a href="{% url 'ct' %}"><img src="{% static 'images/bus.jpg' %}" style="height: 200px; width: 200px;"><center><h3 style="font-family: cursive;">BUS</h3></center></a>
	</div>
	<div class="column">
		<a href="{% url 'ab' %}"><img src="{% static 'images/car1.jpg' %}" style="height: 230px; width: 220px; margin-left:400px;margin-top: 10px"><center><h3 style="font-family: cursive;margin-left: 300px;margin-bottom: 20px">CAR</h3></center></a>
	</div>
</div> 
{% endblock %}