
{% extends 'html/base.html' %}
{% block title %} car {% endblock %}
{% block content %}
{% load static %}

<style type="text/css">
body  {
  background-image: url("{% static 'images/car.jpg' %}");
    background-repeat: no-repeat;

}
</style>
<body>
<div>
	<form>
		

            <input style="width: 30%"type="text" name="source" placeholder="Enter Source Location" class="form-control my-2">
            <i class="fas fa-random" style="margin-left:180px"></i>
            <input style=" width: 30%"type="text" name="destination" placeholder="Enter Destination Location" class="form-control my-2">
			<input style="width: 30%" type="submit" value="search car" class="btn btn-block btn-success mb-3 mt-1">
	</form>		
</div>	
</body>		
{% endblock %}
